*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
body, h1 {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;

}

/* Navbar */
#nav-bar {
    background-color: rgba(84, 84, 249, 0.5);
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    height: inherit;
    padding: 0 1rem;
}
#nav-bar-logo {
    color: white;
}
#nav-bar-icon {
    width: 2.8rem;
    height: 2.8rem;
    color: white;
    background-color: rgb(71, 71, 235);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#nav-bar-icon:hover {
    background-color: rgb(8, 8, 104);
}
#nav-bar-links-container {
    display: none;
    gap: 1rem;
}
.nav-bar-link {
    color: white;
    text-decoration: none;
    transition: all 0.175 ease-in-out;
}
.nav-bar-link:hover {
    text-decoration: underline;
}
#main-container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}
#main-title {
    text-align: center;
    gap: 1rem;
    color: rgb(71, 71, 235);
}
#main-title > span {
    color: rgb(8, 8, 104);
}
#main-desc-container{
    display:block;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(84, 84, 249, 0.5);
    border-radius: 1rem;
    border: solid 0.1rem rgb(71, 71, 235);
    padding: 1rem;
    overflow-y:scroll;
    height: 20rem;
    width: 19rem;
}
#main-desc-container .container {
    position:absolute;   
    display: block;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
#main-desc-container input {
    width: 17rem;
    align-items: center;
    height: 2.5rem;
    padding: 1rem;
    border: solid 0.1rem;
    font-size: large;
    border-radius: 1rem;
}
#main-desc-btn{
    background-color: rgb(71, 71, 235);
    color: white;
    width: 10rem;
    margin: 1rem;
    height: 2.5rem;
    font-size: large;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.175s ease-in-out;
}
#main-desc-btn:hover{
    background-color: rgb(8, 8, 104);
}
#main-desc-container .lista {
    display: flex;
    flex-direction: column;
}
#main-desc-container .lista2 {
    display: flex;
    position: relative;
    text-align: left;
    list-style-type: none;
    font-size: 1.2rem;
    top: 6rem;
    margin: 0;
}
#main-desc-container .lista .seleccion {
    display: flex;
    position: absolute;
    width: 2rem;
    top: 0.5rem;
    left: 0;
}
#main-desc-container .lista i{
    display:flex;
    position: absolute;
    top: 1.6rem;
    right: 0;
}
@media (min-width: 768px){
    #nav-bar-links-container {
        display: flex;
    }
    #nav-bar-icon {
        display: none;
    }
    #main-container{
        width: 70%;
    }
    #main-desc-container{
    width: 32rem;
    justify-content: center;
    }
    #main-desc-container .lista2 {
        top: 4rem;
    }

}
@media (min-width: 1024px) {
    #main-container{
        width: 70%;
    }
    #main-title {
        font-size: 3rem;
    }
    #main-desc-container .lista2 {
        font-size: 1.25rem;
    }
    #main-desc-btn {
        font-size: 1.25rem;
    }
    #main-desc-container{
        width: 48rem;
        justify-content: center;
    }
    #main-desc-container input {
        width: 30rem;
    }
}
    