*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
::-webkit-scrollbar{
    display: none;
}
body, h1 {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Navbar */
#nav-bar {
    background-color: rgba(84, 84, 249, 0.5);
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    height: inherit;
    padding: 0 1rem;
}
#nav-bar-logo {
    color: white;
}
#nav-bar-icon {
    width: 2.8rem;
    height: 2.8rem;
    color: white;
    background-color: rgb(71, 71, 235);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#nav-bar-icon:hover {
    background-color: rgb(8, 8, 104);
}
#nav-bar-links-container {
    display: none;
    gap: 1rem;
}
.nav-bar-link {
    color: white;
    text-decoration: none;
    transition: all 0.175 ease-in-out;
}
.nav-bar-link:hover {
    text-decoration: underline;
}

#main-container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
}
#main-title {
    text-align: center;
    color: rgb(71, 71, 235);
}
#main-title > span {
    color: rgb(8, 8, 104);
}
#main-desc-container{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    background-color: rgba(84, 84, 249, 0.5);
    border-radius: 2rem;
    padding: 2rem;
    width: 40rem;
}
#main-desc-container input {
    width: 20rem;
    height: 2.5rem;
    border: solid 0.1rem;
    font-size: large;
    border-radius: 1rem;
}
#main-desc-btn{
    background-color: rgb(71, 71, 235);
    color: white;
    padding: 0.25rem 0.5rem;
    width: 10rem;
    height: 2.5rem;
    font-size: large;
    border-radius: 1rem;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.175s ease-in-out;
    margin-left: 1rem;
}
#main-desc-btn:hover{
    background-color: rgb(8, 8, 104);
}

#main-desc-container .lista {
    display: flex;
    flex-direction: column; 
    text-align: left;
    left: 0;
    list-style-type: none;
    position:relative;
}

#main-desc-container .lista .seleccion {
    display: flex;
    position: relative;
    width: 1rem;
    left: 0;
}
#main-desc-container .lista .tarea{
    display: flex;
    position: relative;
    flex-direction: row; 
}
#main-desc-container .lista i {
    position: relative;
    display: flex;
    justify-content: right;
    flex-direction: row; 
}
@media (min-width: 768px){
    #nav-bar-links-container {
        display: flex;
    }
    #nav-bar-icon {
        display: none;
    }
    #main-container{
        flex-direction: row;
        width: 80%;
        align-items: center;
    }
}
@media (min-width: 1024px) {
    #main-container{       
        flex-direction: row;
        width: 80%;
        align-items: center;
    }
    #main-title {
        font-size: 4rem;
    }
    #main-desc-text {
        font-size: 1.25rem;
    }
    #main-desc-btn {
        font-size: 1.25rem;
    }
}
    