*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
body, h1 {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;

}

/* Navbar */
#nav-bar {
    background-color: rgba(84, 84, 249, 0.5);
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    height: inherit;
    padding: 0 1rem;
}
#nav-bar-logo {
    color: white;
}
#nav-bar-icon {
    width: 2.8rem;
    height: 2.8rem;
    color: white;
    background-color: rgb(71, 71, 235);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#nav-bar-icon:hover {
    background-color: rgb(8, 8, 104);
}
#nav-bar-links-container {
    display: none;
    gap: 1rem;
}
.nav-bar-link {
    color: white;
    text-decoration: none;
    transition: all 0.175 ease-in-out;
}
.nav-bar-link:hover {
    text-decoration: underline;
}
#main-container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0.8rem;
    align-items: center;
}
#main-title {
    text-align: center;
    color: rgb(71, 71, 235);
    font-size: 2rem;
    margin-top: 2rem;
}
#main-title > span {
    color: rgb(8, 8, 104);
}
#main-title2 {
    text-align: center;
    margin: 0;
    color: rgb(71, 71, 235);
    font-size: 0.9rem;
}
#main-title2 > span {
    color: rgb(8, 8, 104);
}
#main-desc-container{
    display:block;
    position: relative;
    flex-direction: column;
    background-color: rgba(147, 147, 252, 0.5);
    border-radius: 1rem;
    border: solid 0.1rem rgb(71, 71, 235);
    padding: 1rem;
    overflow-y:scroll;
    height: 17rem;
    width: 19rem;
}
#main-desc-container .container {
    position:absolute;   
    display: block;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.title-input {
    width: 17rem;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    border: solid 0.1rem;
    font-size: large;
    border-radius: 1rem;
}
.title-input:focus {
    outline: none;
}
.container-btn{
    background-color: rgb(71, 71, 235);
    color: white;
    width: 8rem;
    margin: 1rem;
    height: 2rem;
    font-size: large;
    border-radius: 1rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.175s ease-in-out;
}
.container-btn:hover{
    background-color: rgb(8, 8, 104);
}
#list {
    display: flex;
    flex-direction: column;
}
#list .list-item {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    text-align: left;
    list-style-type: none;
    font-size: 1.2rem;
    top: 6rem;
    margin: 0;
}
#list .tarea {
    margin-left: 1rem;
}
.tachado {
    text-decoration-line: line-through;
    text-decoration-color: rgb(18, 59, 18);
    opacity: 60%;
}

#list .seleccion, .check{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: rgba(197, 197, 251, 0.5);
    top: 0.9rem;
    margin-left: -2.5rem;
    align-items: center;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
}
#list .seleccion:hover {
    transform: scale(1.1);
}

.check {
    color: rgb(34, 109, 34);
    stroke-width: 2;
}
.delete {
    display:flex;
    background-color: rgb(235, 235, 253);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(8, 8, 104);
    width: 2rem;
    height: 2rem;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}

.delete:hover {
    transform: scale(1.1);
}

#main-container .conteo {
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: rgb(8, 8, 104);
    font-size: 0.9rem;
    margin-top: 0.4rem;
}
/* i{
    transition: all 0.3s ease-in-out;
}

.icon i{
    font-size: 1rem;
}

.icon:hover > i {
  
    font-size: 4rem;
}

.icon:hover {
    background-color: rgb(8, 8, 104);
    width: 4rem;
    height: 4rem;
} */
@media (min-width: 768px){
    #nav-bar-links-container {
        display: flex;
    }
    #nav-bar-icon {
        display: none;
    }
    #main-container{
        width: 70%;
    }
    #main-desc-container{
    width: 32rem;
    justify-content: center;
    }
    #main-desc-container .list-item {
        top: 4rem;
    }

}
@media (min-width: 1024px) {
    #main-container{
        width: 70%;
    }
    #main-title {
        font-size: 3rem;
    }
    #main-desc-container .list-item {
        font-size: 1.25rem;
    }
    #main-desc-btn {
        font-size: 1.25rem;
    }
    #main-desc-container{
        width: 48rem;
        justify-content: center;
    }
    #main-desc-container input {
        width: 30rem;
    }
}
    